header{
    height:90vh;
    padding-top: 5rem;
    overflow: hidden;
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}
.top-header{
    display: flex;
    gap:100px;
}

.cta{
    
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    position: fixed;
    
    bottom: 5rem;
    transform:scale(3);
    margin-left: -90px;
    /* z-index: 999; */
}

.header__socials::after{
    /* content: "";
    width: 1px;
    height: 2rem; */
    background: var(--color-primary);
    
}

@keyframes borderAnimation {
    0% {
        border-width: 2px;
        border-color: var(--color-primary);
    }
    50% {
        border-width: 8px;
        border-color: var(--color-primary-variant);
    }
    100% {
        border-width: 2px;
        border-color: var(--color-primary);
    }
}

.nafis {
    background: var(--color-primary);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    animation: borderAnimation 3s linear infinite; /* Apply the animation */
    border: 2px solid var(--color-primary);
}

.nafis img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; 
}
.scroll__down{
    position: absolute;
    right:-2.3rem;
    bottom:5rem;
    transform: rotate(90deg);
}


/* Medium Screens */
@media screen and (max-width: 1024px){

    header{
        height: 100vh;
    }
    .top-header{
        display: flex;
        gap:70px;
    }
    
}

/* Small Devices */

@media screen and (max-width: 600px){

   header{
    height: 170vh;
    margin-top: -80px;
   }
   .top-header{
    display: block;
   }
   .header__socials,.scroll__down{
    display: none;
   }
   
}