#nav-menu{
    background: rgba(56, 51, 51, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

#nav-menu a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}
#nav-menu a:hover{
    background: rgba(49, 38, 82, 0.3);
}

#nav-menu a.active{
    background: rgb(248, 248, 248);
    color: var(--color-bg);
}


